.amazing__tomorrow {
  width: var(--width);
  height: 115px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  .amazing__tomorrow__center {
    width: 98%;
    height: 100%;
    border-radius: 10px;
    background: #f5f0f0;
    background: -webkit-linear-gradient(91deg, #f5f0f0 0%, #f3dee2 100%);
    background: linear-gradient(91deg, #f5f0f0 0%, #f3dee2 100%);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 0;
    .amazing__tomorrow__right {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      column-gap: 20px;
      .logo {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: center;
        row-gap: 8px;
        & h5 {
          font-size: 12px;
          font-family: var(--number);
          font-weight: normal;
        }
      }
      .timer {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        column-gap: 5px;
        .hour {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          background-color: white;
          border-radius: 5px;
          font-family: var(--number);
          font-size: 16px;
          font-weight: 600;
        }
        & span{
          font-family: var(--number);
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
    .amazing__tomorrow__left {
      width: 60%;
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center;
      .kala {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        column-gap: 8px;
        padding-left: 40px;
        text-decoration: none;
        .img__amazing__tomorrow {
          width: 75px;
          height: 75px;
          background-color: white;
          border-radius: 50%;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          position: relative;
          & img {
            width: 52px;
            height: 52px;
            border-radius: 50%;
          }
          .darsad {
            width: 32px;
            height: 20px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            background-color: #d32f2f;
            position: absolute;
            bottom: 0;
            right: 0;
            & h5 {
              font-size: 12px;
              font-weight: normal;
              color: white;
              font-family: var(--number);
              letter-spacing: 1px;
            }
          }
        }
        & a {
          text-decoration: none;
          .all {
            width: 145px;
            height: 50px;
            background-color: white;
            border-radius: 25px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            & h5 {
              font-family: var(--number);
              color: #39ae00;
              font-size: 14px;
              font-weight: normal;
              word-spacing: -2px;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
