.amazing {
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .amazing__center {
    width: 84%;
    height: inherit;
    background-color: #ef394e;
    border-radius: 16px;
    padding: 20px 0;
    border-left: 2px solid #ef394e;
    & a{
      text-decoration: none;
    }

    .cover__amazing {
      background-color: #ef394e;

      .cover__amazing__main {
        text-decoration: none;
        width: 100%;
        height: inherit;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        .svg1 {
          width: 92px !important;
          height: 74px !important;
        }
        & img {
          width: 145px;
          height: 115px;
        }
        & h5 {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-family: var(--iran);
          margin-top: 15px;
          color: white;
          font-weight: normal;
          padding-right: 10px;
          & svg g {
            fill: white;
          }
        }
      }
    }
  }

  .amazing__R {
    border-radius: 0px 10px 10px 0px;
  }
  .amazing__R2 {
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
  .item {
    display: flex;
    flex-flow: column wrap !important;
    padding: 10px;
    .item__top {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      & img {
        width: 150px;
        height: 150px;
      }
    }
    .item__center {
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: row-reverse wrap;
      justify-content: space-between;
      align-items: center;
      background-color: unset;
      margin-bottom: 5px;
      & h5 {
        display: flex;
        flex-flow: row-reverse wrap;
        align-items: center;
        font-size: 18px;
        font-family: var(--number);
        font-weight: normal;
        color: #3f4064;
        &svg g {
          fill: #3f4064;
          width: 16px !important;
          height: 16px !important;
        }
      }
      & span {
        font-family: var(--number);
        height: 20px;
        font-size: 13px;
        padding: 0 10px;
        border-radius: 10px;
        background-color: #d32f2f;
        font-weight: bold;
        color: white;
      }
    }
    .item__bottom {
      display: block;
      width: 100%;
      height: auto;
      font-family: var(--number);
      text-align: left;
      padding-left: 18px;
      font-size: 14px;
      text-decoration: line-through;
      color: #c0c2c5;
      letter-spacing: 1;
    }
    .amazing__end__item {
      width: var(--width);
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      & a {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-decoration: none;

        & div {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid #19bfd3;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          padding-bottom: 3px;
          padding-right: 3px;
        }
        & h5 {
          margin-top: 10px;
          font-family: var(--iran);
          color: #3f4064;
        }
      }
    }
  }
  .swiper-button-next,
    .swiper-button-prev {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ffffff;
      border: 1px solid #caccce;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      font-size: 14px;
      color: #424750;
      font-weight: bold;
    }
  
}

 
