.digiclub {
  width: var(width);
  height: 90px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  .digiclub__center {
    width: 84%;
    height: inherit;
    background: #007295;
    background: -webkit-linear-gradient(
      265deg,
      #007295 0%,
      #35a6c8 50%,
      #7cf2f6 100%
    );
    background: linear-gradient(265deg, #007295 0%, #35a6c8 50%, #7cf2f6 100%);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    .right {
      width: 38%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      padding-right: 20px;
      & svg {
        width: 120px;
      }
    }
    .left {
      width: 62%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-end;
      column-gap: 10px;
      .radius__1 {
        border-radius: 0 10px 10px 0;
      }
      .radius__2 {
        border-radius: 10px 0 0 10px;
      }
      & a {
        width: 260px;
        height: inherit;
        background-color: white;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        outline: 2px solid white;
        column-gap: 3px;
        text-decoration: none;
        padding-right: 15px;

        .club__text {
          width: auto;
          height: auto;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: flex-start;
          column-gap: 5px;
          & svg {
            transform: scale(0.9);
            overflow: visible;
          }
          & h5 {
            font-size: 12px;
            font-family: var(--iran);
            color: black;
            font-weight: normal;
          }
        }
        & img {
          width: 150px;
          height: 60px;
          object-fit:cover;
        }
      }
    }
  }
}
