.market {
  width: var(--width);
  height: 130px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 24px;
  .market__center {
    width: 80%;
    height: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 30px;
    align-items: center;
    .market__image {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      & a{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-decoration: none;
      }
      & img {
        width: 54px;
        height: 54px;
        margin-bottom: 10px;
      }
      & h5 {
        font-family: var(--iran);
        font-size: 10px;
        color: #3f4064;
      }
    }
    .market__svg {
      width: 54px;
      height: 54px;
      background-color: #f0f0f1;
      border-radius: 50%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      & svg {
        width: 30px;
        height: 30px;
        margin: 15px 15px;
      }
    }
  }
}
